<div class="jumbotron shadow border bg-light full-center employee">
  <h1 class="display-4">Employees</h1>
  <h4> List of employees</h4>
  <hr class="my-4">
  <table class="table table-business-trips   table-bordered">
    <thead class="thead-dark rounded">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-body shadow-sm">
      <tr (click)="onBusinessTrip()">
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</div>

 

