<div class="jumbotron shadow border bg-light full-center employee"[@employeeAnimation]="businessTripTrigger">
  <h1 class="display-4">Employees</h1>
  <h4> List of employees</h4>
  <hr class="my-4">
  <table class="table table-business-trips   table-bordered">
    <thead class="thead-dark rounded">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody class="table-body shadow-sm">
      <tr (click)="onBusinessTrip()">
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Jelena</td>
        <td>Djordjevic</td>
        <td>lena_magdalena@live.com</td>
        <td>Active</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="jumbotron full-center shadow shadow-very-very-big border bg-light business-trip" [@businessTripAnimation]="businessTripTrigger">
  <button type="button" class="close" aria-label="Close" (click)="onCloseBusinessTrip()">
    <span aria-hidden="true">&#8600;</span>
  </button>
  <h1 class="display-4">Employee details</h1>
  <hr class="my-4">
  <!-- <div class="row ">
    <div class="col-sm-6 border-right">
      <p class="lead">Destination:</p>
      <div class="pl-3 flex ">
        <p class="lead">City: {{businesTrip.destination.city}}</p>
        <p class="lead ml-2">Wage: {{businesTrip.destination.wage.amount}}</p>
      </div>
      <p class="lead">Start date: {{businesTrip.startDate}}</p>
      <p class="lead">End date: {{businesTrip.endDate}}</p>
    </div>
    <div class="col-sm-6">
      <p class="lead">Status: {{businesTrip.status}}</p>
      <p class="lead">Total spent: {{businesTrip.billsTotal}}$</p>
    </div>
  </div> -->
  <hr class="my-4">
  <h4>Lena Magdalena</h4>
  
  <hr class="my-4">
  <!-- <div class="card-row border-left border-right">
    <div class=" bill-card " *ngFor="let bill of businesTrip.bills;let i=index">
      <div class="card-header rounded shadow border">
        <b>#{{i+1}}&nbsp;Bill total:&nbsp;{{bill.total}}$</b>
      </div>
      <table class="table-bills table table-sm table-bordered shadow">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <tr *ngFor="let billItem of bill.billItems;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{billItem.name}}</td>
            <td>{{billItem.cost}}$</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  <!-- </div> -->
</div>
