.dropdown-menu {
  transform: translateX(-53%);
  transition: .3s;
}

.dropdown-menu-show {
  display: block;
  transition: .3s;
}

.dropdown-menu-hide {
  display: none;
  transition: .3s;
}

.navbar {
  height: 60x;
}

.nav-pills {
  padding: 15px 0;
}

.nav-link {
  transition: .3s;

  &:hover {
    background-color: #343a40;
    color: #fff;
  }
}

.container-main {
  height: calc(100vh - 107px);
}

.footer {
  height: 50px;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
}
