.dropdown-menu-x {
  position: absolute;
  z-index: -1;
  top: 102%;
  left: 90%;
  transition: .3s;
  background-color: #fff;
  display: block;
  transform-origin: top right;
  overflow: hidden;
}


.navbar {
  z-index: 221;
  height: 60x;
}


.nav-link {
  transition: .3s;

  &:hover {
    background-color: #343a40;
    color: #fff;
  }
}

.container-main {
  height: calc(100vh - 107px);
}

.footer {
  height: 50px;
  padding: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  height: 100%;
}

.col-sm-10,
.col-sm-12 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
