.employee{
   height:calc(100vh - 180px);
}

.table{
    margin: 0;
    overflow: hidden;

    th{
        cursor: default;
    }
    tr{
        cursor: pointer;
    }
}

tbody {
    display:block;
    height:250px;
    overflow:auto;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

.table-body{
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.075);
        border-radius: 10px;
      }

    &::-webkit-scrollbar {
        width: 3px;
      }

    &::-webkit-scrollbar-thumb {
     background:#343a40; 
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
      
}

.table-scroll{
    overflow: hidden;
    height:250px;
    padding:0;
}

.jumbotron{
    height:calc(100vh - 180px);
    overflow: hidden;
}