.employee {
  height: calc(100vh - 180px);
  width: 80%;
}

.table-business-trips {

  thead {
    th {
      cursor: default;
    }
  }

  tr {
    cursor: pointer;
    transition: .3s;

    &:nth-child(even) {
      background-color: rgba(#343a40, 0.15);
    }

    &:hover {
      background-color: rgba(#343a40, 0.5);
      color: #fff;
      font-weight: 700;
    }
  }

  tbody {
    display: block;
    height: 200px;
    overflow: auto;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
  }
}



.table-body {
  //   overflow-y: scroll;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(#343a40, 0.5);
    border-radius: 2px;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #343a40;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

}

.table-bills {
  margin-bottom: 0 !important;

  thead {
    th {
      cursor: default;
    }
  }

  tr {
    cursor: pointer;
    transition: .3s;

    &:nth-child(even) {
      background-color: rgba(#343a40, 0.15);
    }

    &:hover {
      background-color: rgba(#343a40, 0.5);
      color: #fff;
      font-weight: 700;
    }
  }

  tbody {
    display: block;
    height: 100px;
    overflow: auto;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
  }
}

.jumbotron {
  max-height: calc(100vh - 180px);
  overflow: hidden;
  transform-origin: center;
}


.business-trip {
  opacity: 0;
  transform: scale(0);
  width: 80%;
}

.card-row {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding-bottom: 1rem;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(#343a40, 0.5);
    border-radius: 3px;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #343a40;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.bill-card {
  min-width: 32.5%;
  margin: .3rem;
  padding-bottom: 0;
  margin-bottom: 0 !important;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  transform: scale(1.7);
  outline: none;
}

.shadow-very-very-big {
  box-shadow: 0 .5rem 4rem rgba(0, 0, 0, .65) !important;
}
