<div class="login-form full-center shadow rounded border">
  <form>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="email"
        class="form-control shadow-sm"
        aria-describedby="emailHelp"
        placeholder="Enter username"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control shadow-sm"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary shadow-sm">
      Submit
    </button>
  </form>
</div>
