.jumbotron {
    overflow: hidden;
  }
  
  .destinations {
    max-height: calc(100vh - 180px);
    width: 80%;
  }
  
  .table-destinations {
    position: relative;
    margin-bottom: 0;
    z-index: 112;
  
    thead {
      th {
        cursor: default;
      }
    }
  
    tr {
      cursor: pointer;
      transition: .3s;
  
      &:nth-child(even) {
        background-color: rgba(#343a40, 0.15);
      }
  
      &:hover {
        background-color: rgba(#343a40, 0.5);
        color: #fff;
        font-weight: 700;
      }
    }
  
    tbody {
      display: block;
      height: 200px;
      overflow: auto;
    }
  
    thead,
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
      /* even columns width , fix width of table too*/
    }
  }
  
  .table-body {
  
    //   overflow-y: scroll;
    td {
  
      p {
        margin-bottom: 0;
      }
    }
  
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(#343a40, 0.5);
      border-radius: 2px;
    }
  
    &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #343a40;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  
  }
  
  .stick-right {
    margin-left: auto;
  }
  
  .table-new-destination {
    margin-bottom: 0;
    overflow: hidden;
    border-top: none;
  
    td {
      align-self: center;
    }
  
    tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
    }
  }
  
  .add {
    position: absolute;
    z-index: 4444;
    top: calc(100% + .4rem);
    left: .2rem;
    transition: all .4s;
    align-self: center;
  }
  
  .edit-input {
    width: 60%;
    height: 1.9rem;
    align-self: center;
  }
  
  .form-control { 
      // width: 100%;
  }
  