.credentials {
  max-height: calc(100vh - 180px);
  max-width: 80%;
  min-width: 30%;
  transition: all 3s;
}

.credentials-form {
  transform-origin: top left;
  height: 0;
}


.info-message {
  color: #28a745;
}
